Repository xandervedder/BEP-03, pull requests merged in 2021-12, with the labels that each got.

#27 Implement domain of Review micro-service
  review/pom.xml
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/.gitkeep
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/DeliveryReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/ProductReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/Rating.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/ReviewBase.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/.gitkeep
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/.gitkeep
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/DeliveryReviewTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/ProductReviewTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/RatingTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/ReviewBaseTest.java
Labels: Review Service, W.I.P.

#31 Setup MongoDB for Customer service
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/common/Utils.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Address.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Customer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidAdditionException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidCityException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidEmailException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidHouseNumberException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidNameException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidNameStartException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidPostalCodeException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/exceptions/InvalidStreetException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/port/storage/AddressRepository.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/port/storage/CustomerRepository.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/domain/exceptions/InvalidNameStartException.java
  customer/src/main/resources/banner.txt
  customer/src/test/java/nl/softwarestrijders/waiter/customer/core/domain/AddressTest.java
  customer/src/test/java/nl/softwarestrijders/waiter/customer/core/domain/CustomerTest.java
Labels: Customer Service, Task

#32 Add domain for the product micro-service
  product/pom.xml
  product/src/main/java/nl/softwarestrijders/waiter/product/common/Generated.java
  product/src/main/java/nl/softwarestrijders/waiter/product/domain/NutritionalValue.java
  product/src/main/java/nl/softwarestrijders/waiter/product/domain/Product.java
  product/src/main/resources/application.properties
  product/src/test/java/nl/softwarestrijders/waiter/product/domain/NutritionalValueTest.java
  product/src/test/java/nl/softwarestrijders/waiter/product/domain/ProductTest.java
Labels: Product Service

#30 Feature/17 create order domain
  order/pom.xml
  order/src/main/java/nl/softwarestrijders/waiter/order/OrderApplication.java
  order/src/main/java/nl/softwarestrijders/waiter/order/common/annotation/TestExcludeGenerated.java
  order/src/main/java/nl/softwarestrijders/waiter/order/common/exception/InvalidModificationException.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/Order.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/Price.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/Receipt.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/ReceiptItem.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/id/DeliveryAddressId.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/id/DeliveryId.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/id/OrderId.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/id/ProductId.java
  order/src/main/java/nl/softwarestrijders/waiter/order/domain/id/ReceiptItemId.java
  order/src/test/java/nl/softwarestrijders/waiter/order/domain/OrderTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/domain/PriceTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/domain/ReceiptItemTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/domain/ReceiptTest.java
Labels: Order Service

#34 Set up MongoDB in Review micro-service
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/DeliveryReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/ProductReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/ReviewBase.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/.gitkeep
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/storage/DeliveryReviewRepository.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/storage/ProductReviewRepository.java
  review/src/main/resources/application.properties
Labels: Review Service

#35 Implement domain of Delivery micro-service
  delivery/pom.xml
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/common/Generated.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/Delivery.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/DeliveryAddress.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/Status.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/exceptions/InvalidHouseNumberException.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/exceptions/InvalidPostalCodeException.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/exceptions/InvalidStatusUpdateException.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/exceptions/InvalidStreetNameException.java
  delivery/src/test/java/nl/softwarestrijders/waiter/delivery/core/domain/DeliveryAddressTest.java
  delivery/src/test/java/nl/softwarestrijders/waiter/delivery/core/domain/DeliveryTest.java
Labels: Delivery Service, Task

#37 Setup MongolDB for product service.
  product/src/main/java/nl/softwarestrijders/waiter/product/data/ProductRepository.java
  product/src/main/java/nl/softwarestrijders/waiter/product/domain/Product.java
  product/src/main/resources/application.properties
Labels: Product Service

#43 Set up RabbitMQ in Review micro-service
  review/pom.xml
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/messaging/ReviewEventPublisher.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/.gitkeep
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/config/RabbitMqConfig.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driven/messaging/RabbitMqEventPublisher.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/RabbitMqEventListener.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/ReviewOnProductEvent.java
  review/src/main/resources/application.properties
Labels: Review Service

#51 Feature/8 customer rabbit mq
  customer/pom.xml
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/.gitkeep
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Address.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Customer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/CustomerEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/port/messaging/CustomerEventPublisher.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/config/RabbitMqConfig.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driven/messaging/RabbitMqEventPublisher.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/CustomerOnRegistrationEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/RabbitMqEventListener.java
  customer/src/main/resources/application.properties
Labels: Customer Service, Task

#57 Feature/39 implement cqrs delivery service
  delivery/pom.xml
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/application/DeliveryCommandHandler.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/application/DeliveryQueryHandler.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/Delivery.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/Status.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/event/DeliveryAddressChanged.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/domain/event/DeliveryStatusChanged.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/port/adapter/.gitkeep
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/core/port/storage/DeliveryRepository.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/infrastructure/driver/messaging/RabbitMqEventListener.java
  delivery/src/main/java/nl/softwarestrijders/waiter/delivery/infrastructure/driver/messaging/event/DeliveryStatusEvent.java
  delivery/src/test/java/nl/softwarestrijders/waiter/delivery/core/domain/DeliveryTest.java
Labels: Delivery Service, Task

#59 Add CQRS to Review micro-service
  review/pom.xml
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/.gitkeep
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/CommandHandler.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/QueryHandler.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/exception/AlreadyReviewedException.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/exception/InvalidOperationException.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/exception/ReviewNotFoundException.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/FindAllByConcept.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/FindAllByCustomerId.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/FindAllByDeliveryId.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/FindAllByProductId.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/FindReviewById.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/ListAll.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/DeliveryReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/ProductReview.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/Review.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/DomainEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewCreatedEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewDeletedEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/messaging/ReviewEventPublisher.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/storage/DeliveryReviewRepository.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/storage/ProductReviewRepository.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/port/storage/ReviewRepository.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/config/RabbitMqConfig.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driven/messaging/RabbitMqEventPublisher.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/RabbitMqEventListener.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/ReviewOnProductEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/event/CreateEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/event/DeleteEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/messaging/event/EditEvent.java
  review/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  review/src/main/resources/application.properties
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/DeliveryReviewTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/ProductReviewTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/ReviewBaseTest.java
  review/src/test/java/nl/softwarestrijders/waiter/review/core/domain/ReviewTest.java
Labels: Review Service

#67 Add REST Controller to Review micro-service
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/QueryHandler.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/concept/FindAllByConcept.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/concept/FindAllByDeliveryId.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/application/query/concept/FindAllByProductId.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/web/ReviewController.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/web/dto/ReviewDto.java
  review/src/main/resources/application.properties
Labels: Review Service

#60 Setup CQRS for customer microservice
  customer/README.md
  customer/pom.xml
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/.gitkeep
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/CustomerCommandHandler.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/CustomerQueryHandler.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/command/RegisterCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/exception/CustomerNotFoundException.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetAddressByCustomerId.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetAllProducts.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetCustomerById.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetDeliveriesFromCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetDeliveryStatusFromOrder.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetEmailAddressFromCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetOrdersFromCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetProductInfo.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetReviewsFromCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Address.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Customer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/CustomerDomainEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/OrderAddedToCustomerEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/ProductAddedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/ProductDeleted.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/ReviewAddedToCustomerEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/ReviewDeletedFromCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/event/UpdateProduct.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/port/messaging/CustomerEventPublisher.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/port/storage/CustomerRepository.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/config/RabbitMqConfig.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driven/messaging/RabbitMqEventPublisher.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/CustomerOnRegistrationEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/RabbitMqEventListener.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/customer/OrderCreatedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/customer/ReviewCreatedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/customer/ReviewEdittedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/delivery/DeliveryEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/order/OrderEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/product/ProductAddedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/product/ProductDeletedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/product/ProductEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/product/ProductUpdatedEvent.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/messaging/event/review/ReviewEvent.java
  customer/src/main/resources/application.properties
  customer/src/test/java/nl/softwarestrijders/waiter/customer/core/domain/CustomerTest.java
Labels: Customer Service, Task

#81 Update routing keys
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewCreatedEvent.java
  review/src/main/java/nl/softwarestrijders/waiter/review/core/domain/event/ReviewDeletedEvent.java
Labels: Review Service

#82 Update README.md of the Review micro-service
  README.md
  review/README.md
  review/postman/review-micro-service.postman_collection.json
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/web/ReviewController.java
  review/src/main/java/nl/softwarestrijders/waiter/review/infrastructure/driver/web/dto/DeleteReviewDto.java
Labels: Review Service

#83 Feature/53 setup rest
  customer/postman/BEP03.postman_collection.json
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/CustomerCommandHandler.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/CustomerQueryHandler.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/command/RegisterCustomer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/application/query/GetAddressByOrderId.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/core/domain/Customer.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/web/CustomerController.java
  customer/src/main/java/nl/softwarestrijders/waiter/customer/infrastructure/driver/web/request/RegisterCustomerRequest.java
  customer/src/test/java/nl/softwarestrijders/waiter/customer/core/domain/CustomerTest.java
Labels: Customer Service, Task

#90 Feature/84 create readme delivery service
  delivery/README.md
  delivery/postman/Delivery.postman_collection.json
Labels: Delivery Service, Task

#92 Documentation order service
  order/README.md
  order/Waiter order micro-service.postman_collection.json
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/messaging/RabbitMqEventListener.java
  order/src/main/resources/application.properties
Labels: Order Service

#95 Add product validation and rework project structure
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/dto/ModifyProductOnOrderDto.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/repository/HttpClientConfig.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/repository/HttpProductRepository.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/repository/dto/ProductDto.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/rest/OrderController.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/rest/dto/CreateOrderDto.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/rest/dto/ModifyProductOnOrderDto.java
  order/src/main/java/nl/softwarestrijders/waiter/order/common/exception/InvalidModificationException.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/application/CommandHandler.java
  order/src/main/java/nl/softwarestrijders/waiter/order/ports/api/.gitkeep
  order/src/main/java/nl/softwarestrijders/waiter/order/ports/http/ProductRepository.java
  order/src/main/resources/application.properties
Labels: Order Service

#96 Add readme
  product/README.md
Labels: Product Service

#97 Update customer microservice readme
  customer/README.md
Labels: Customer Service, Task

#105 Add price calculation to order
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/repository/HttpProductRepository.java
  order/src/main/java/nl/softwarestrijders/waiter/order/adapters/http/repository/dto/ProductDto.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/application/CommandHandler.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/application/QueryHandler.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/domain/Order.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/domain/Price.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/domain/Receipt.java
  order/src/main/java/nl/softwarestrijders/waiter/order/core/domain/ReceiptItem.java
  order/src/main/java/nl/softwarestrijders/waiter/order/ports/http/ProductRepository.java
  order/src/test/java/nl/softwarestrijders/waiter/order/core/domain/OrderTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/core/domain/PriceTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/core/domain/ReceiptItemTest.java
  order/src/test/java/nl/softwarestrijders/waiter/order/core/domain/ReceiptTest.java
Labels: Order Service
